@import 'variables';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-high-light {
  &:not(:disabled) {
    background: linear-gradient(90deg, #27b5f7, #fb3dd2, #ff8400);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    border: 1px solid rgb(72, 72, 72);
  }
}

@mixin text-high-light {
  background: linear-gradient(90deg, #27b5f7, #fb3dd2, #ff8400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: gradient 5s ease-in-out infinite alternate;
}

.default-text-high-light {
  @include text-high-light;
}
