@import '@styles/variables';
@import '@styles/components';

.card-nft {
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  border: 1px solid $color-border-color;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  overflow: hidden;
  transition: 0.5s all;

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    .image {
      border-radius: 0.5rem;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .description {
      @apply text-[#a89ec9] font-normal text-[14px] h-[68px];
    }

    .price {
      display: flex;
      align-items: center;
      color: #fb3dd2;
      font-weight: 700;
    }
  }

  .content {
    ::before {
      position: fixed;
      content: '';
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: 0.7s all;
    }
  }

  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.02);
    ::before {
      top: -100%;
      left: 200%;
    }
  }

  .button-deploy {
    button {
      width: 100%;
    }
  }
}
